@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,700,800,900&display=swap');

* {
  font-family: 'Montserrat', Courier, monospace;
}

body{
  background-color: #0d3e81;
}

.bottom-b-100 {
  bottom: -100px;
}
@media (max-width: 767px) and (min-width: 300px) {
  .bottom-b-100 {
    bottom: 0;
  }
}

.bg-gradient{
  background: rgb(0,137,255);
  background: linear-gradient(90deg, rgba(0,137,255,1) 0%, rgba(0,206,255,1) 100%);
}
